<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="vendor/autoload.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
>
  <php>
    <env name="NENE2_ALLOW_DEV_SECRET" value="1" />
  </php>
  <testsuites>
    <testsuite name="NenePayout">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
